<div>
    <div class="page-header">
        <h1 class="page-header-title">Order Books ({{assetPair}})</h1>
    </div>
    <div class="kt-portlet">
        <div class="kt-portlet__body">
            <div class="dataTables_wrapper bg-white" *ngIf="exchanges && levels">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th rowspan="2">Price</th>
                            <th rowspan="2">Volume</th>
                            <th colspan="2" *ngFor="let exchange of exchanges;">{{exchange}}</th>
                        </tr>
                        <tr>
                            <ng-container *ngFor="let exchange of exchanges">
                                <th>Price</th>
                                <th>Volume</th>
                            </ng-container>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let level of levels" [style.color] = "level.IsSell ? 'red' : 'green'">
                            <td>
                                <span><b>{{level.Price}}</b></span>
                            </td>
                            <td>
                                <span><b>{{level.Volume}}</b></span>
                            </td>
                            <ng-container *ngFor="let exchange of level.Exchanges">
                                <td>
                                    <span>{{exchange.Price}}</span>
                                </td>
                                <td>
                                    <span>{{exchange.Volume}}</span>
                                </td>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>